:root {
    --content-width: 1280px;

    line-height: 1.7;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;

    gap: 2rem;

    > * {
        width: 100%;

        > * {
            max-width: var(--content-width);
            width: 100%;
        }
    }
}

header {
    display: flex;
    align-items: center;
    flex-flow: column;

    border-bottom: 1px solid;

    > div {
        display: flex;
        align-items: center;
        gap: 2rem;

        search {
            width: 100%;

            form {
                height: 100%;
                display: flex;
                flex-flow: row;

                input[type='search'] {
                    padding: 0.5rem;
                    flex-grow: 1;
                }
            }
        }

        #store-information {

        }

        #store-account {
            margin-left: auto;

            .dropdown {
                display: block;
                position: relative;

                .account {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    img {
                        height: 25px;
                        width: 25px;
                        border: 1px solid;
                        border-radius: 100%;
                        object-fit: cover;
                    }
                }

                &:not(:hover) .dropdown-menu {
                    display: none;
                }
            }

            .dropdown-menu {
                position: absolute;
                right: 0;
                width: max-content;
                padding: 0.5rem 0;

                li {
                    list-style: none;

                    a {
                        display: block;
                        padding: 0.5rem 1rem;
                    }
                }
            }
        }

        #store-logo {
            white-space: nowrap;
        }

        #store-cart {
            padding: 0 1rem;
            margin-top: 0.5rem;

            i {
                font-size: 1.5rem;
            }
        }

        #store-categories {
            width: 100%;
        }
    }
}

main {
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 2rem;
}

footer {
    display: flex;
    align-items: center;
    flex-flow: column;

    padding: 2rem;

    border-top: 1px solid;

    > div {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-flow: row;

        max-width: 1280px;
        width: 100%;

        ul {
            list-style: none;
            padding-left: 0;
        }
    }
}

main {
    .product-list {
        display: grid;
        overflow-x: auto;
        grid-auto-flow: column;
        grid-auto-columns: minmax(160px, 1fr);
        gap: 2rem;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 2rem;
    }

    .product-list, .product-grid {
        .product-item {
            display: flex;
            flex-flow: column;

            .product-image {
                display: flex;
                flex-flow: column;
                align-items: center;
            }

            .product-info {
                margin-top: auto;

                > * {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .price {
                    font-weight: bold;
                }
            }

            img {
                width: 160px;
            }
        }
    }

    @media (max-width: 1200px) { .product-grid { grid-template-columns: repeat(4, minmax(0, 1fr)); } }
    @media (max-width: 992px)  { .product-grid { grid-template-columns: repeat(3, minmax(0, 1fr)); } }
    @media (max-width: 768px)  { .product-grid { grid-template-columns: repeat(2, minmax(0, 1fr)); } }
    @media (max-width: 480px)  { .product-grid { grid-template-columns: 1fr; } }
}
