main {
    .product-list {
        display: grid;
        overflow-x: auto;
        grid-auto-flow: column;
        grid-auto-columns: minmax(160px, 1fr);
        gap: 2rem;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 2rem;
    }

    .product-list, .product-grid {
        .product-item {
            display: flex;
            flex-flow: column;

            .product-image {
                display: flex;
                flex-flow: column;
                align-items: center;
            }

            .product-info {
                margin-top: auto;

                > * {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .price {
                    font-weight: bold;
                }
            }

            img {
                width: 160px;
            }
        }
    }

    @media (max-width: 1200px) { .product-grid { grid-template-columns: repeat(4, minmax(0, 1fr)); } }
    @media (max-width: 992px)  { .product-grid { grid-template-columns: repeat(3, minmax(0, 1fr)); } }
    @media (max-width: 768px)  { .product-grid { grid-template-columns: repeat(2, minmax(0, 1fr)); } }
    @media (max-width: 480px)  { .product-grid { grid-template-columns: 1fr; } }

    form.search {
        display: flex;
        gap: 2rem;
    }
}
