# Logging configuration for Caddy
(log_common) {
    log {
        output file /var/log/caddy/{args[0]}.access.log
        format console
    }
}

{$SITE_URL} {
    import log_common web

    encode gzip

    request_body {
        max_size 100MB
    }

    handle_path {$STATIC_URL} {
        root * {$STATIC_PATH}
        file_server
    }

    reverse_proxy {$SERVER_HOST} {
    }
}