# Logging configuration for Caddy
{
    log default {
       format console
       output file /var/log/caddy/system.log
       exclude http.log.access
    }
}

{$SITE_URL} {
    log {
        output file /var/log/caddy/webapp.access.log
        format console
    }

    handle_path /static/* {
        root * /var/www/webapp/assets
        file_server
    }

    handle_path /media/* {
        root * /var/www/webapp/media
        file_server

        header Content-Disposition inline
    }

    root * /var/www/webapp/public

    encode zstd gzip
    file_server

    php_fastcgi web:9000 {
        try_files {path} index.php
        resolve_root_symlink
    }

    @phpFile {
        path *.php*
    }
    error @phpFile "Not found" 404

    request_body {
        max_size 10MB
    }
}