parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Controller\\AdminUserController\:\:addMember\(\) has parameter \$vars with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Controller/AdminUserController.php

		-
			message: '#^Method App\\Controller\\AdminUserController\:\:addStaff\(\) has parameter \$vars with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Controller/AdminUserController.php

		-
			message: '#^Method App\\Controller\\AdminUserController\:\:delMember\(\) has parameter \$vars with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Controller/AdminUserController.php

		-
			message: '#^Method App\\Controller\\AdminUserController\:\:delStaff\(\) has parameter \$vars with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Controller/AdminUserController.php

		-
			message: '#^Method App\\Controller\\AdminUserController\:\:editUser\(\) has parameter \$vars with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Controller/AdminUserController.php

		-
			message: '#^Method App\\Controller\\AdminUserController\:\:viewUserList\(\) has parameter \$vars with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Controller/AdminUserController.php

		-
			message: '#^Method App\\Controller\\HelloController\:\:index\(\) has parameter \$vars with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Controller/HelloController.php

		-
			message: '#^Method App\\Core\\Database\:\:connect\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Core/Database.php

		-
			message: '#^Method App\\Core\\Database\:\:getConnection\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Core/Database.php

		-
			message: '#^Method App\\Core\\View\:\:render\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Core/View.php

		-
			message: '#^Method App\\Core\\View\:\:render\(\) should return string but returns string\|false\.$#'
			identifier: return.type
			count: 1
			path: src/Core/View.php

		-
			message: '#^Property App\\Entity\\ABC\\Entity\:\:\$id is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/ABC/Entity.php

		-
			message: '#^Property App\\Entity\\Book\\Author\\Author\:\:\$description is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Author/Author.php

		-
			message: '#^Property App\\Entity\\Book\\Author\\Author\:\:\$name is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Author/Author.php

		-
			message: '#^Property App\\Entity\\Book\\Author\\AuthorDefinition\:\:\$author is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Author/AuthorDefinition.php

		-
			message: '#^Property App\\Entity\\Book\\Author\\AuthorDefinition\:\:\$type is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Author/AuthorDefinition.php

		-
			message: '#^Property App\\Entity\\Book\\Book\:\:\$authors is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Book/Book.php

		-
			message: '#^Property App\\Entity\\Book\\Book\:\:\$categories is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Book/Book.php

		-
			message: '#^Property App\\Entity\\Book\\Book\:\:\$cost is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Book.php

		-
			message: '#^Property App\\Entity\\Book\\Book\:\:\$cover_type is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Book.php

		-
			message: '#^Property App\\Entity\\Book\\Book\:\:\$description is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Book.php

		-
			message: '#^Property App\\Entity\\Book\\Book\:\:\$image_urls is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Book/Book.php

		-
			message: '#^Property App\\Entity\\Book\\Book\:\:\$isbn is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Book.php

		-
			message: '#^Property App\\Entity\\Book\\Book\:\:\$language is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Book.php

		-
			message: '#^Property App\\Entity\\Book\\Book\:\:\$number_of_pages is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Book.php

		-
			message: '#^Property App\\Entity\\Book\\Book\:\:\$prices is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Book/Book.php

		-
			message: '#^Property App\\Entity\\Book\\Book\:\:\$title is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Book.php

		-
			message: '#^Property App\\Entity\\Book\\Category\\Category\:\:\$description is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Category/Category.php

		-
			message: '#^Property App\\Entity\\Book\\Category\\Category\:\:\$name is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Category/Category.php

		-
			message: '#^Property App\\Entity\\Book\\Category\\Category\:\:\$subcategories is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Book/Category/Category.php

		-
			message: '#^Property App\\Entity\\Book\\Category\\CategoryDefinition\:\:\$category is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Category/CategoryDefinition.php

		-
			message: '#^Property App\\Entity\\Book\\Price\\Constraint\\AuthorConstraint\:\:\$author_id is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Price/Constraint/AuthorConstraint.php

		-
			message: '#^Property App\\Entity\\Book\\Price\\Constraint\\BookConstraint\:\:\$book_id is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Price/Constraint/BookConstraint.php

		-
			message: '#^Property App\\Entity\\Book\\Price\\Constraint\\CategoryConstraint\:\:\$category_id is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Price/Constraint/CategoryConstraint.php

		-
			message: '#^Property App\\Entity\\Book\\Price\\Cost\:\:\$amount is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Price/Cost.php

		-
			message: '#^Property App\\Entity\\Book\\Price\\PriceDefinition\:\:\$constraints is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Book/Price/PriceDefinition.php

		-
			message: '#^Property App\\Entity\\Book\\Price\\PriceDefinition\:\:\$type is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Book/Price/PriceDefinition.php

		-
			message: '#^Property App\\Entity\\Cart\\Cart\:\:\$address is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Cart/Cart.php

		-
			message: '#^Property App\\Entity\\Cart\\Cart\:\:\$items is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Cart/Cart.php

		-
			message: '#^Property App\\Entity\\Cart\\Cart\:\:\$user is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Cart/Cart.php

		-
			message: '#^Property App\\Entity\\Cart\\CartItem\:\:\$item is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Cart/CartItem.php

		-
			message: '#^Property App\\Entity\\Cart\\CartItem\:\:\$quantity is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Cart/CartItem.php

		-
			message: '#^Property App\\Entity\\Order\\Invoice\:\:\$invoiced_at is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Order/Invoice.php

		-
			message: '#^Property App\\Entity\\Order\\Invoice\:\:\$payment is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Order/Invoice.php

		-
			message: '#^Property App\\Entity\\Order\\Order\:\:\$adjustments is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Order/Order.php

		-
			message: '#^Property App\\Entity\\Order\\Order\:\:\$invoice is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Order/Order.php

		-
			message: '#^Property App\\Entity\\Order\\Order\:\:\$items is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Order/Order.php

		-
			message: '#^Property App\\Entity\\Order\\Order\:\:\$ordered_at is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Order/Order.php

		-
			message: '#^Property App\\Entity\\Order\\Order\:\:\$ref_no is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Order/Order.php

		-
			message: '#^Property App\\Entity\\Order\\Order\:\:\$shipment is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Order/Order.php

		-
			message: '#^Property App\\Entity\\Order\\OrderAdjustment\\OrderAdjustment\:\:\$type is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Order/OrderAdjustment/OrderAdjustment.php

		-
			message: '#^Property App\\Entity\\Order\\OrderItem\:\:\$adjustments is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Order/OrderItem.php

		-
			message: '#^Property App\\Entity\\Order\\OrderItem\:\:\$unit_price is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Order/OrderItem.php

		-
			message: '#^Property App\\Entity\\Order\\Payment\:\:\$amount is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Order/Payment.php

		-
			message: '#^Property App\\Entity\\Order\\Payment\:\:\$method is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Order/Payment.php

		-
			message: '#^Property App\\Entity\\Order\\Payment\:\:\$paid_at is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Order/Payment.php

		-
			message: '#^Property App\\Entity\\Order\\Payment\:\:\$ref_no is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Order/Payment.php

		-
			message: '#^Property App\\Entity\\Order\\Shipment\:\:\$arrived_at is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Order/Shipment.php

		-
			message: '#^Property App\\Entity\\Order\\Shipment\:\:\$ready_at is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Order/Shipment.php

		-
			message: '#^Property App\\Entity\\Order\\Shipment\:\:\$shipped_at is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/Order/Shipment.php

		-
			message: '#^Property App\\Entity\\User\\Address\:\:\$address1 is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/User/Address.php

		-
			message: '#^Property App\\Entity\\User\\Address\:\:\$address2 is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/User/Address.php

		-
			message: '#^Property App\\Entity\\User\\Address\:\:\$address3 is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/User/Address.php

		-
			message: '#^Property App\\Entity\\User\\Address\:\:\$country is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/User/Address.php

		-
			message: '#^Property App\\Entity\\User\\Address\:\:\$is_default is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/User/Address.php

		-
			message: '#^Property App\\Entity\\User\\Address\:\:\$postcode is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/User/Address.php

		-
			message: '#^Property App\\Entity\\User\\Address\:\:\$state is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/User/Address.php

		-
			message: '#^Property App\\Entity\\User\\Address\:\:\$user is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/User/Address.php

		-
			message: '#^Property App\\Entity\\User\\User\:\:\$email is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/User/User.php

		-
			message: '#^Property App\\Entity\\User\\User\:\:\$hashed_password is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/User/User.php

		-
			message: '#^Property App\\Entity\\User\\User\:\:\$is_verified is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/User/User.php

		-
			message: '#^Property App\\Entity\\User\\User\:\:\$last_ip \(string\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/User/User.php

		-
			message: '#^Property App\\Entity\\User\\User\:\:\$last_ip is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/User/User.php

		-
			message: '#^Property App\\Entity\\User\\User\:\:\$last_login \(DateTime\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/User/User.php

		-
			message: '#^Property App\\Entity\\User\\User\:\:\$last_login is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/User/User.php

		-
			message: '#^Property App\\Entity\\User\\User\:\:\$profile is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/User/User.php

		-
			message: '#^Property App\\Entity\\User\\User\:\:\$role is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/User/User.php

		-
			message: '#^Property App\\Entity\\User\\User\:\:\$username is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/User/User.php

		-
			message: '#^Property App\\Entity\\User\\UserProfile\:\:\$contact_no is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/User/UserProfile.php

		-
			message: '#^Property App\\Entity\\User\\UserProfile\:\:\$dob \(DateTime\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/User/UserProfile.php

		-
			message: '#^Property App\\Entity\\User\\UserProfile\:\:\$dob is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Entity/User/UserProfile.php

		-
			message: '#^Set hook for non\-virtual property App\\Entity\\User\\UserProfile\:\:\$dob does not always assign value to it\.$#'
			identifier: propertySetHook.noAssign
			count: 1
			path: src/Entity/User/UserProfile.php

		-
			message: '#^Method App\\Service\\AdminService\:\:addMember\(\) has parameter \$vars with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Service/AdminService.php

		-
			message: '#^Method App\\Service\\AdminService\:\:addStaff\(\) has parameter \$vars with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Service/AdminService.php

		-
			message: '#^Method App\\Service\\AdminService\:\:delMember\(\) has parameter \$vars with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Service/AdminService.php

		-
			message: '#^Method App\\Service\\AdminService\:\:delStaff\(\) has parameter \$vars with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Service/AdminService.php

		-
			message: '#^Method App\\Service\\AdminService\:\:editUser\(\) has parameter \$vars with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Service/AdminService.php

		-
			message: '#^Method App\\Service\\AdminService\:\:viewUserList\(\) has parameter \$vars with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Service/AdminService.php

		-
			message: '#^Method App\\Service\\CartCreatorService\:\:getOrCreateCart\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Service/CartCreatorService.php

		-
			message: '#^Method App\\Service\\CartCreatorService\:\:getOrCreateGuestCart\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Service/CartCreatorService.php

		-
			message: '#^Method App\\Service\\CartCreatorService\:\:getOrCreateUserCart\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Service/CartCreatorService.php

		-
			message: '#^Method App\\Service\\CartService\:\:__construct\(\) has parameter \$cart with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Service/CartService.php

		-
			message: '#^Method App\\Service\\CartService\:\:addItem\(\) has parameter \$item with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Service/CartService.php

		-
			message: '#^Method App\\Service\\CartService\:\:getCart\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Service/CartService.php

		-
			message: '#^Method App\\Service\\CartService\:\:mergeCart\(\) has parameter \$cart with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Service/CartService.php

		-
			message: '#^Method App\\Service\\CartService\:\:removeItem\(\) has parameter \$item with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Service/CartService.php

		-
			message: '#^Property App\\Service\\CartService\:\:\$cart has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Service/CartService.php
